@import url('https://fonts.google.com/specimen/Inter');

body {
    background-color: hsl(0, 0%, 8%);
    margin: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

h1,
p {
    color: rgb(255, 255, 255);
    margin: 0;
}

.pp {
  
    margin-bottom: 12px;
}

h3 {
    margin-top: -10px;
    color: hsl(75, 94%, 57%);
}

form {
    background-color: hsl(0, 0%, 12%);
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 16px;


}

img {
    border-radius: 100px;
    width: 110px;

}

button {
    width: 80%;
    background-color: hsl(0, 0%, 30%);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
    font-weight: 600;

}